<div class="font-bold mb-2 text-center">{{ title | uppercase }}</div>
<app-global-error></app-global-error>
<div class="max-w-2xl container mx-auto pt-5">
  <input
    type="text"
    class="mb-2 border py-2 px-4 w-full"
    placeholder="Filter products..."
    [(ngModel)]="tern"
  />
  <!-- <app-product [product]="products[0]"> </app-product> -->
  <!-- <app-product [product]="products[1]"> </app-product> -->
  <p *ngIf="loading" class="text-center text-lg">Loading...</p>
  <div *ngIf="products">
    <app-product
      *ngFor="let product of products | filterProducts : tern; let i = index"
      [product]="product"
    ></app-product>
  </div>
</div>
